Source: xivo-dxtorc
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: xivo-dxtorc
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Conflicts: pf-xivo-dxtora (<= 15.04), xivo-dxtora (<= 15.04)
Description: Wazo dhcp extractor client
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This is the client for xivo-dxtora.
 .
