Source: wazo-dxtorc
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12), dh-python, python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9

Package: wazo-dxtorc
Architecture: all
Provides: xivo-dxtorc
Conflicts: xivo-dxtorc, xivo-dxtora (<= 15.04)
Replaces: xivo-dxtorc
Depends: ${python3:Depends}, ${misc:Depends}
Description: Wazo dhcp extractor client
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This is the client for wazo-dxtora.
 .
